**
!.dockerignore
!power-sim/
!power-sim/Dockerfile
!power-sim/requirements.txt
!power-sim/src/
!power-sim/src/**
!infra/
!infra/contracts/
!infra/contracts/register-maps/
!infra/contracts/register-maps/ieee13-demo.json
!infra/images/
!infra/images/grafana/
!infra/images/grafana/Dockerfile
!infra/images/influxdb/
!infra/images/influxdb/Dockerfile
!infra/local/
!infra/local/grafana/
!infra/local/grafana/**
!infra/services/
!infra/services/modbus-ingestor/
!infra/services/modbus-ingestor/Dockerfile
!infra/services/modbus-ingestor/src/
!infra/services/modbus-ingestor/src/**
